//- Create Form 
extends layout

block content
	div.row
		div.small-12.columns.page-title
			h1 Share My Wealth
	div.row 
		form(method="post", action="/create")
			fieldset
				legend Create a New Offer
				div.row
					div.small-12.columns
						div.radio-select
							label.row-title Select Meal Type
							input(type="radio", name="meal_type", value="block", id="select_mealblock")
							label(for="select_mealblock") Block
							input(type="radio", name="meal_type",value="dinex", id="select_dinex")
							label(for="select_dinex") DineX
				div.small-12.columns
					div.location-input
						input(type="location", placeholder="Where are you?", name="location")
				div.row
					div.small-6.columns
						div.expiration-input
							label Expires in...
								select(name="expiration")
									option(value="1") One Hour
									option(value="2") Two Hours
									option(value="3") Three Hours
									option(value="4") Four Hours
									option(value="5") Five Hours
									option(value="6") Six Hours
									option(value="7") Seven Hours
									option(value="8") Eight Hours
									option(value="9") Nine Hours
									option(value="10") Ten Hours
									option(value="11") Eleven Hours
									option(value="12") Twelve Hours
					div.small-6.columns
						div.currency-input
							input.currency(type="textfield",min="0.01",step="0.01",max="20",id="input_price",placeholder="$ Enter Price",name="price")

				input.button.radius(type="submit", value="Post My Offer", id="submit_new")