//- Create Form 
extends layout

block content

	div.row
		div.small-12.columns.page-title
			h1 Share My Wealth
	div.row 
		form(method="post", action="/create" onsubmit="return validateForm()" name="createForm")
			fieldset
				legend Create a New Offer
				div.row
					div.small-12.columns
						div.radio-select
							label.row-title Select Meal Type
							input(type="radio", name="meal_type", value="Block", id="select_mealblock")
							label(for="select_mealblock") Block
							input(type="radio", name="meal_type",value="DineX", id="select_dinex")
							label(for="select_dinex") DineX
						div(hidden, id = "mealError") Please select a meal type
				div.small-12.columns
					div.currency-input
						input.currency(type="textfield",min="0.01",step="0.01",max="20",id="input_price",placeholder="$ Enter Price",name="price")
						div(hidden, id="priceError") Please enter a price
				div.small-12.columns
					div.contact-input
						input(type="textfield",placeholder="Phone Number",name="contact_info")
						div(hidden, id = "phoneError") Please enter a phone number
				div.row
					div.small-12.columns
						div.expiration-input
							label(id="expiration-label") Time
							div.range-slider.radius(data-slider, id="expiration-slider", data-options="end: 4;")
								span.range-slider-handle
								span.range-slider-active-segment
								input(type="hidden", name="expiration")
					div.small-12.columns
						div.location-input
							label Pick Location...
								select(name="location")
									option(value="",disabled selected) Select location
				input(type="hidden", name="user_id")
				input(type="hidden", name="fb_name")
				input.button.radius(type="submit", value="Post My Offer", id="submit_new")
	script.
		$(document).ready(function(){
			document.getElementsByName("user_id")[0].value = getCookie("fb_id");
			document.getElementsByName("fb_name")[0].value = getCookie("fb_name")
			getFoursquareLocations()
		});
		$('[data-slider]').on('change', function(){
			$('#expiration-label').text("Expires in... " + $('#expiration-slider').attr('data-slider') + " Hours");
		});

		function validateForm(){
			var contact_info=document.forms["createForm"]["contact_info"].value;
			var price = document.forms["createForm"]["price"].value; 

			if (!($('input[type=radio]:checked').size() > 0)){
				$("#mealError").fadeIn();
				return false;				
			}

			if (price==null || price==""){
				$("#priceError").fadeIn();
				return false; 
			}

			if (contact_info==null || contact_info==""){
				$("#phoneError").fadeIn(); 
				return false;
			}


		};
