//- Edit Form 
extends layout

block content

	div.row
		div.small-12.columns.page-title
			h1 Edit My Offer
	div.row 
		-var id = offer._id
		form(method="post", action="/update/" + id)
			fieldset
				legend Update
				div.row
					div.small-12.columns
						div.radio-select
							label.row-title Select Meal Type
							-if (offer.type === "Block"){
								input(type="radio", name="type", value="Block", id="select_mealblock",checked)
								label(for="select_mealblock") Block
								input(type="radio", name="type",value="DineX", id="select_dinex")
								label(for="select_dinex") DineX
							-} else {
								input(type="radio", name="type", value="Block", id="select_mealblock")
								label(for="select_mealblock") Block
								input(type="radio", name="type",value="DineX", id="select_dinex",checked)
								label(for="select_dinex") DineX
							-}
				div.small-12.columns
					div.currency-input
						-var price = "$"+offer.fixedPrice()
						input.currency(type="textfield",min="0.01",step="0.01",max="20",id="input_price",placeholder="$ Enter Price",name="price",value = price)
				div.small-12.columns
					div.contact-input
						-var phone = offer.contact_info
						input(type="textfield",placeholder="Phone Number",name="contact_info",value=phone)
				div.row
					div.small-12.columns
						div.expiration-input
							label(id="expiration-label") Time
							div.range-slider.radius(data-slider, id="expiration-slider", data-options="end: 4;")
								span.range-slider-handle
								span.range-slider-active-segment
								input(type="hidden", name="expiration")
					div.small-12.columns
						div.location-input
							-var location = offer.location
							label Pick Location...
								select(name="location")
									option(value=location)=location
					div.small-12.columns
						div.notes-input
							-var notes = offer.notes
							label Additional Notes
								textarea(placeholder="i.e. I would like Vocelli's Pizza....", name="notes")=offer.notes
				input(type="hidden", name="user_id")
				input(type="hidden", name="fb_name")
				input.button.radius(type="submit", value="Update My Offer", id="submit_new")
	script.
		$(document).ready(function(){
			document.getElementsByName("user_id")[0].value = getCookie("fb_id");
			document.getElementsByName("fb_name")[0].value = getCookie("fb_name")
			//getFoursquareLocations()
			getLocations()
			//- console.log(offer.expiration);
			//- $('#expiration-slider').foundation('slider', 'set_value', offer.expiration);
		});
		$('[data-slider]').on('change', function(){
			$('#expiration-label').text("Expires in... " + $('#expiration-slider').attr('data-slider') + " Hours");
		});


