//- Header Partial

doctype html
html
  head
    title= 'Dine With DineX'
    //- Stylesheets
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/normalize.css')
    //- Javascript
    script(type='text/javascript' src="/js/jquery.js")
    script(type='text/javascript' src="/js/foundation.min.js")
    script(type='text/javascript' src="/js/foundation.dropdown.js")    
    script(type='text/javascript' src="/js/foundation.topbar.js")
    script(type='text/javascript' src="/js/main.js")
    script(type='text/javascript' src="/js/jquery.formatCurrency-1.4.0.min.js")
    script(type='text/javascript' src='/js/fb_login.js')
    script(type='text/javascript' src='/js/jquery.maskedInput.js')
    meta(name="viewport" content="width=device-width")

    script(type='text/javascript').
        $(function(){
            $(document).foundation();    
        });
        $(document).ready(function(){
            $('.currency').blur(function() {
                $('.currency').formatCurrency();
            });
            $("input[name='contact_info']").mask("(999) 999-999")
        });
  body
    //- Navbar
    div.fixed.sticky
        nav.top-bar(data-topbar)
            ul.title-area
                li.name
                    h1
                        a(href="/") Dine With DineX
                li.toggle-topbar.menu-icon
                    a(href="#")="Menu"
            section.top-bar-section
                ul.right
                    li.nav-button: a(onclick="directToDashboard()")="Dashboard"
                    li.nav-button: a(href="/newsfeed")="Newsfeed"
                    li.nav-button: a(href="/new")="Create New Offer"
                    li.nav-button: a(href="/logout" onclick="fbLogout()")="Logout"

    div.content
        block content
    div.footer
        block footer