//- Header Partial

doctype html
html
  head
    title= 'Dine With DineX'
    //- Stylesheets
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/normalize.css')
    //- Javascript
    script(type='text/javascript' src="/js/foundation.min.js")
    script(type='text/javascript' src="/js/jquery.js")
    script(type='text/javascript' src="/js/main.js")
  body
    nav.tab-bar.show-for-small
        block navbar-s
    nav.top-bar.hide-for-small
        block navbar-lrg
    div.content
        block content