//- Show Offer Status
extends layout

block content
    div.row
        div.small-12.columns.page-title
            h1= "Offer Status"
        div.row.status-info
        - console.log(offer.accepted)