//- Show Offer Status
extends layout

block content
    div.row
        div.small-12.columns.profile-pic.page-title
            img.profile-pic(src="http://graph.facebook.com/"+offer.buyer_id+"/picture?width=120&height=120")
            -if (!offer.completed) {
                h2=offer.buyer_name + " has accepted your offer!"
            -} else {
                h2="You have completed your offer with " + offer.buyer_name
            -}
    div.row
        div.small-12
            -if (!offer.completed)
                div.button-bar.status-buttons
                    ul.button-group
                        li.status-action
                            a.button.small.radius.success(onclick="completeOffer()")= "Complete with Venmo"
                        li.status-action
                            a.button.small.radius.alert(onclick="rejectOffer()")= "Reject"
    div.row.columns
            a.button.radius.tiny.secondary(href="/dashboard/" + offer.user_id)="Go Back"
                        