//- Success Page
extends layout

block content
    div.page-title
        h5 The transaction was successful! 
        div.row
            div.small-12.columns
                a.button.radius.tiny.secondary(onclick="directToDashboard()")="Back to Dashboard"