/***************************
** Application Stylesheet **
****************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/***************************
** Page Layout **
****************************/

* {
	font-family: 'Open Sans', sans-serif;
}

body {
}

.content {
	padding: 60px 10%;
}

.page-title {
	text-align: center;
}

/***************************
** Splash Page **
****************************/

.logo-lrg {
	width:70%;
	display: block;
	margin:0 auto;
}

.fb_login {
	padding-top:30px;
	margin:0 auto;
	display:block;
}

/***************************
** Form Page **
****************************/

form {
	padding-top:30px;
	line-height: 3em;
	padding-right:30px;
}

.row-title {
	font-size:18px;
}

input {
	text-align: center;
}

/*For Webkit browsers (Chrome, Safari) */
input::-webkit-input-placeholder {
   /* Your style here e.g. font size, color etc */
   font-size:12px;
}

/* For Mozilla Firefox */
input:-moz-placeholder {
    /* Your style here e.g. font size, color etc */
    font-size:14px;
}

input[type="location"], input[type="expiration"], input[type="textfield"]{
	width:100%;
}

.radio-select {
	text-align: center;
}


