/***************************
** Application Stylesheet **
****************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
	font-family: 'Open Sans', sans-serif;
}

body {
}

.content {
	padding: 60px 10%;
}

/***************************
** Splash Page **
****************************/

.logo-lrg {
	width:70%;
	display: block;
	margin:0 auto;
}

.fb_login {
	padding-top:30px;
	margin:0 auto;
	display:block;
}

.fb_login:hover {
}