/***************************
** Application Stylesheet **
****************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/***************************
** Page Layout **
****************************/

* {
	font-family: 'Open Sans', sans-serif;
}

body {
}

.content {
	padding: 30px 10%;
}

.page-title {
	padding-top:20px;
	text-align: center;
}

h2 {
	padding-top: 15px;
	padding-bottom: 15px;
}

h3 {
	padding-top: 40px
}

i {
	color:gray;
}

textarea {
	resize: vertical;
}
/***************************
** Splash Page **
****************************/

.logo-lrg {
	display: block;
	margin:0 auto;
}

#fb-root {
	display: block;
	margin: 0 auto;
	width:84%;
}

.fb_login {

}

.intro {
	padding-top: 10%;
	padding-left:10%;
	max-width:500px !important;
}

/***************************
** Form Page **
****************************/

form {
	line-height: 3em;
}

.row-title {
	font-size:18px;
}

input {
	text-align: center;
}

/*For Webkit browsers (Chrome, Safari) */
input::-webkit-input-placeholder {
   /* Your style here e.g. font size, color etc */
   font-size:12px;
}

/* For Mozilla Firefox */
input:-moz-placeholder {
    /* Your style here e.g. font size, color etc */
    font-size:14px;
}

input[type="location"], input[type="expiration"], input[type="textfield"]{
	width:100%;
	height:2.25em;
	margin-top:2.3em;
}

.radio-select {
	text-align: center;
}

#submit_new {
	float:right;
	margin-top:40px;
}

.expiration-input,
.location-input,
.notes-input {
	margin-top:15px;
	padding-left:15px;
	padding-right:15px;
}

#phoneError, 
#priceError, 
#mealError, 
#locationError {
	color: red;
	text-align: center;
}

/***************************
** Newsfeed **
****************************/

.offers {
	width: 100%;
}

.offer {
	border-top: 1px solid #ddd;
}

.newsfeed {
	padding-bottom:25px;
}

.newsfeed:active {
	background-color:whitesmoke;
}

.newsfeed:hover {
	background-color:whitesmoke;
}

.offer a:active {
	color:blue;
}

.offer-info {
	padding-top:30px;
}

.sell_type {
	color: white;
	background-color: #D65E3F;
	border-radius: 4px;
	padding: 2px 10px;
	margin: 3px 10px 0px 10px;
	clear: both;
	font-size:80%;
}

.sell_block {
	background-color: #961E1F;
}

.sell_type * {
	font-size: 8px;
}

.profile {
	text-align: center;
}

.profile-thumbnail {
	margin-top:25px;
	border-radius:50px;
}
/***************************
** Dashboard  **
****************************/
.action-button {
	float:right;
}

.profile-pic {
	border-radius:160px;
}

/***************************
** Show Page  **
****************************/
.offer-description {
	padding-bottom: 50px;
	padding-left:30px;
}

/***************************
** Status Page  **
****************************/
.status-buttons {
	display:table;
	margin:0 auto;
	padding-top: 40px;
}

.status-action {
	display:table-cell;
	margin:0 auto;
	padding-top: 5px;
}

/***************************
** 404 Error Page  **
****************************/

.error-title{
	font-size:150%;
}

.error-option{
	font-size:120%;
}


